body {
  &.easterGameRuning {
    background-image: url("./images/bossLife.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: crosshair;
    overflow: hidden;
    z-index: 1;

    .damaged:not(body) {
      opacity: .5 !important;
      filter: grayscale(0.5) brightness(3);
    }

    .destroyed:not(body) {
      opacity: 0 !important;
      z-index: -1;
      transform: rotate(360deg) scale(0.3);
    }

    .mob {
      position: absolute;
      z-index: 2;
      width: 100px;
      height: 130px;
      background-position: center center;
      background-repeat: no-repeat;

      -webkit-transition: all 0.3s 0s ease-out;
      -moz-transition: all 0.3s 0s ease-out;
      -o-transition: all 0.3s 0s ease-out;
      transition: all 0.3s 0s ease-out;
    }

    #gameBar {
      cursor: pointer;
      position: fixed;
      top: 0;

      .aleks,
      .toni,
      .misko,
      .hanning,
      .bayoMoj {
        height: 50px;
        width: 50px;
        display: inline-block;
        background-size: cover;
      }
    }

    .aleks {
      background-image: url("./images/aleks.png");
    }

    .toni {
      background-image: url("./images/toni.png");
    }

    .misko {
      background-image: url("./images/misko.png");
    }

    .hanning {
      background-image: url("./images/hanning.png");
    }

    .bayoMoj {
      background-image: url("./images/baya.png");
    }
  }
}